<div class="alert alert-info">
  Built by the <%= link_to "Sphero", "http://www.gosphero.com" %> web team after seeing <%= link_to "@kylerush", "http://twitter.com/kylerush" %>'s talk at Mozcon 2014. We &lt;3 Optimizely
  for AB testing and conversion optimization.  Please send questions, comments, or suggestions to 
  <%= link_to "@willronco", "http://twitter.com/willronco" %> or <%= mail_to "will@orbotix.com" %>
</div>
<p>
  This app attempts to automate Kyle Rush's "Experiment Archive Template" from his 
  <%= link_to "Mozcon 2014 talk", "http://bit.ly/1mhvqth" %>.
</p>
<h3>What Does It Do</h3>
<ul>
  <li>Takes screenshots of the A and B (and C, etc) versions of each of your Optimizely experiments.</li>
  <li>Lets you annotate each experiment with a brief, hypothesis, confidence level, etc.</li>
</ul>
<h3>Screenshots</h3>
<%= image_tag "list.png" %>
<%= image_tag "detail.png" %>

<h3>How To Use It</h3>
<p>
  You'll need your Optimizely API key to use this - find it on your Optimizely account page under "Tokens"
  (<%= link_to "https://www.optimizely.com/tokens", "https://www.optimizely.com/tokens" %>)
</p>

<h3>Yes</h3>
<p>
  It's also on GitHub. <%= link_to "https://github.com/wronco/experiment_archive", "https://github.com/wronco/experiment_archive" %>