<%= form_for @experiment, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :screenshot_original, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :screenshot_original, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :screenshot_variation, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :screenshot_variation, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :winner, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :winner, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :confidence, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :confidence, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :brief, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :brief, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hypothesis, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :hypothesis, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :experiment_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :experiment_url, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :result_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :result_url, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  experiments_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
