<table class="table table-striped">
  <%= form_tag(refresh_optimizely_path, method: :post) do %>
    <% if current_user.refresh_running? %>
      <div class="alert alert-warning">
        Optimizely scan running now. Refresh this page to see progress.
      </div>
    <% elsif current_user.last_optimizely_updated_at.present? %>
      <div class="alert alert-success">
        Optimizely last scanned <%= distance_of_time_in_words_to_now(current_user.last_optimizely_updated_at) %> ago.
        <br>
        <%= current_user.last_optimizely_status %>
        <%= submit_tag "Re Scan Now", class: "btn btn-primary" %>

      </div>
    <% elsif current_user.optimizely_api_key.present? %>
      <div class="alert alert-warning">
        Never scanned optimizely account - click "Scan Now" to start
        <%= submit_tag "Scan Now", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created / Updated</th>
      <th>Variations</th>
      <th>Currently</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @experiments.each do |experiment| %>
      <tr>
        <td><%= experiment.description %></td>
        <td>
          Created: <%= experiment.optimizely_created_at.strftime('%D') %> <br>
          Last Update: <%= experiment.optimizely_last_updated_at.strftime('%D') %>
        </td>      
        <td>
          <% experiment.variations.each do |v| %>
            <% if v.screencap.present? %>
              <% if experiment.winner.to_i == v.optimizely_id.to_i %>
                <%= image_tag(v.screencap.url(:thumb), style: "border: 5px solid #75CC51;") %>
              <% else %>
                <%= image_tag(v.screencap.url(:thumb)) %>
              <% end %>
            <% end %>
            <% if experiment.winner == v.optimizely_id %></div><% end %>
          <% end %>
        </td>
        <td><%= experiment.status %></td>
        <td>
          <%= link_to edit_experiment_path(experiment), :class => 'btn btn-xs', :title => "edit" do %>
            details
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
